.SearchBar {
  width: 60%;
  padding: 10px;
}

.SearchBar-input {
  width: 100%;
  padding: 10px 20px;

  border-radius: 10px;
  border: 1px solid #ccc;

  box-shadow: 1px 1px 5px #cfcfcf;
}